.menu_bg .navbar-nav a{
  padding: 0 40px !important;
  font-family: "Poppins", sans-serif;
}
.main_item{
  height: 500px !important;
}
.ami{
  background-color: red !important;
}
.about_inn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 20px;
}
.amio{
  color: red;
}
.footer{
  padding: 200px 0;
  background-color: #d1d1d1;
  text-align: center;
}